.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--color-primary-light);
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 15em;
}

.nav a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #000;
}

.nav a:hover {
  background-color: var(--color-extra);
  color: #fff;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  position : absolute;
  bottom: 5;
  right: 0;
}

.nav-check:checked ~ .nav-label {
  background-color: var()
}

.nav-check:checked ~ .nav-label .nav-open {
  display: block;
}

header {
  text-align: center;
  padding: 1em 0 40px;
  position: relative;
}
