html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
}

p {
  font-family: var(--font-secondary);
}

figcaption {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}
