html {
  font-family: var(--font-primary);
}

a {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  list-style-type: none;
  padding: .2em .5em;
  display: inline-block;
}

a:hover {
  background-color: var(--color-extra);
  color: #fff;
}

nav {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

li {
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin: 0;
}

header {
  padding: 1em 0;
}
