
.action {
  position: relative;
  background-image: linear-gradient(25deg, var(--color-accent) 50%);
  background-repeat: no-repeat;
}

.info {
  position: absolute;
  bottom: 1%;
  left: 15%;
}

h1 {
  color: var(--color-accent);
}

p {
  color: var(--color-neutral);
}
