:root {
  --color-primary-light: #effbff;
  --color-primary: #24619d;
  --color-secondary: #303742;
  --color-accent: #5c839e;
  --color-neutral: #e3e3e3;
  --color-extra: #7bb556;
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Merriweather", serif;
  --background-color: #f1f1f1;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h2 {
  font-family: var(--font-primary);
}

h3 {
  font-family: var(--font-primary);
  color: var(--color-secondary);
}

h4 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

h5 {
  font-family: var(--font-primary);
}

h6 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

mark {
  background-color: var(--color-accent);
  font-family: var(--font-secondary);
}
