.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
}

.btn-light {
  background-color: var(--color-accent);
  border-color:  var(--color-accent);
  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
}

.btn-light {
    position: relative;
    background-color: var(--color-primary);
    border: none;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btn-light:after {
    content: "";
    background: var(--color-extra);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn-light:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
